.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}
.vertical-center .container-fluid {
  flex-grow:1
}
h1 {
  margin: 10px 0;
}
.messages p {
  margin: 6px 0;
}
.mymessages {
   text-align: right;
  color: #145383;
  font-family:Helvetica;
    font-size: 1em;
  font-weight:600;
}
ul.messages.list-group {
  max-height: 48vh;
  overflow-y: scroll;
  color: #272727;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight:600;
}
.typing {
  font-style: italic;
}
.msg-delieverd {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #010a11;
}
.msg-read {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #1c3ae6;
}
